<%- include("partials/header"); -%>
    <img class="fade-in" src="img/35e38ca9-27b4-41c6-8ac3-1d6103a64549.jpg" alt="">
    <div class="middle-container">
      <h1 id="title">RADIO UNCIÓN INTERNACIONAL DESDE LAS PIEDRAS PUERTO RICO</h1>
    </div>


    <div class="radio-container">
      <h1 class="radio-title">Radio En Vivo</h1>
      <hr>
    </div>
    <div id="MusesRadioPlayer-HTML5-player-0" class="musesStyleReset" style="overflow: hidden; width: 190px; height: 100px; position: relative;margin: auto;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/bg.jpg" style="width: auto; height: auto; position: absolute; left: 0px; top: 0px;"><div style="position: absolute; left: 67px; top: 20px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/statusplay.png" style="width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: none;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/statusstop.png" style="width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: block;"></div><div style="position: absolute; font-family: Silkscreen; font-size: 12px; left: 77px; top: 15px; width: 100px; height: 23px; overflow: hidden; transition: opacity 300ms ease 0s; opacity: 1;"><div style="font-family: Arial; font-size: 11px; color: rgb(255, 255, 255); white-space: nowrap; padding: 2px; text-align: left; transform: translate(0px, 0px);">radio uncion</div></div><div style="position: absolute; left: 15px; top: 36px; width: 167px; height: 25px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/holder.png" style="width: auto; height: auto; position: absolute; top: 7.5px; left: 164px; display: block;"><div style="width: 167px; height: 25px; cursor: pointer; position: absolute; top: 0px; left: 0px; display: block;"></div></div><div title="play" style="position: absolute; left: 6px; top: 14px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/playclick.jpg" style="opacity: 0; width: auto; height: auto; cursor: pointer; position: absolute; top: 0px; left: 0px; display: block;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/play.jpg" style="opacity: 0; width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: block; cursor: pointer;"></div><div title="stop" style="position: absolute; left: 30px; top: 14px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/stopclick.jpg" style="opacity: 0; width: auto; height: auto; cursor: pointer; position: absolute; top: 0px; left: 0px; display: block;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/stop.jpg" style="opacity: 0; width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: block; cursor: pointer;"></div><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/bg.jpg" style="width: auto; height: auto; position: absolute; left: 0px; top: 0px;"><div style="position: absolute; left: 67px; top: 20px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/statusplay.png" style="width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: none;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/statusstop.png" style="width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: block;"></div><div style="position: absolute; font-family: Silkscreen; font-size: 12px; left: 77px; top: 15px; width: 100px; height: 23px; overflow: hidden; transition: opacity 300ms ease 0s; opacity: 1;"><div style="font-family: Arial; font-size: 11px; color: rgb(255, 255, 255); white-space: nowrap; padding: 2px; text-align: left; transform: translate(0px, 0px);">radio uncion</div></div><div style="position: absolute; left: 15px; top: 36px; width: 167px; height: 25px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/holder.png" style="width: auto; height: auto; position: absolute; top: 7.5px; left: 164px; display: block;"><div style="width: 167px; height: 25px; cursor: pointer; position: absolute; top: 0px; left: 0px; display: block;"></div></div><div title="play" style="position: absolute; left: 6px; top: 14px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/playclick.jpg" style="opacity: 0; width: auto; height: auto; cursor: pointer; position: absolute; top: 0px; left: 0px; display: block;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/play.jpg" style="opacity: 0; width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: block; cursor: pointer;"></div><div title="stop" style="position: absolute; left: 30px; top: 14px;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/stopclick.jpg" style="opacity: 0; width: auto; height: auto; cursor: pointer; position: absolute; top: 0px; left: 0px; display: block;"><img src="//hosted.muses.org/2.4.5/ffmp3-darkconsole/stop.jpg" style="opacity: 0; width: auto; height: auto; position: absolute; top: 0px; left: 0px; display: block; cursor: pointer;"></div></div>
    <div class="chat" style="
    margin-bottom: 100px;
    margin: auto;
    margin-bottom: 100px;
">
      <script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script><script src="https://hosted.muses.org/mrp.js"></script><script src="https://hosted.muses.org/mrp.js"></script><script src="https://hosted.muses.org/mrp.js"></script>
      <script type="text/javascript">
        <% const urlicecast = 'https://s6.autopo.st/proxy/cnrzwdns?mp=/mystream'; %>

  MRP.insert({
    'url': '<%= urlicecast %>',
    'codec': 'mp3',
    'volume': 100,
    'autoplay': false,
    'buffering': 1,
    'title': 'radio uncion',
    'bgcolor': '#FFFFFF',
    'skin': 'darkconsole',
    'width': 190,
    'height': 100
  });


      </script>
      <iframe src="https://www3.cbox.ws/box/?boxid=3528365&amp;boxtag=NHx9Aa" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto" style="
    display: block;
    width: 90%;
    margin: auto;
"></iframe>
    </div>

    <div class="boton_tv">
  <a href="tv" class="btn-tv">
    <i class="fas fa-arrow-right"></i>
    TV en vivo
    <i class="fas fa-arrow-left"></i>
  </a>
</div>

  <div id="program-title">
    <h1>Programacion</h1>
    <hr>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% const img_source = ["img/daniel1.jpg", "img/daniel2.jpg", "img/jan.jpg", 'img/jan2.jpg', 'img/gaby.jpg', 'img/daniel3.jpg', 'img/iris.jpg', "img/annie programa.jpg"]; %>

    <% for (let i = 0; i < img_source.length; i++) { %>
      <% const imgSrc = img_source[i]; %>
      <% const isActive = i === 0 ? ' active' : ''; %>

      <div class="carousel-item<%= isActive %>">
        <img src="<%= imgSrc %>" class="d-block w-100" alt="...">
      </div>
    <% } %>
    </div>
  </div>

  <div class="aupiciadores">
    <h1>Auspiciadores</h1>
    <hr>
    <% const img_aupiciador = ["img/Rose.jpg", "img/php.jpg", "img/aluminum.jpg", "img/victor.jpg"]; %>

<% for (let i = 0; i < img_aupiciador.length; i++) { %>
  <% const imgap = img_aupiciador[i]; %>
  <img class="aupiciador" src="<%= imgap %>" alt="imagen de auspiciador">
<% } %>

  </div>

<%- include("partials/footer"); -%>
